.password-change-form{
    width: 80%;
    margin: auto;
    padding-top: 3rem;
    line-height: 3;
}
.form-contents{
    width: 100%;
}
label{
    margin-right:0.5rem;
}
.submit-button{
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
}