a{
    text-decoration: none;
    color: black;
}
p{
    width: 30%;
    margin: auto;
    margin-top: 3rem !important;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 1.5rem;
}
.setting-container{
    width: 80%;
    margin: auto;
    text-align: center;
}