{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/login.css' %}">
{% endblock %}

{% block header-title %}Login{% endblock %}

{% block content %}
<div class="form-container">
    <form method="POST" action="{% url 'login_view' %}" class="form">
        {% csrf_token %}
        <table>
            <tr><th>username:</th><td>{{ form.username }}</td><td>{{ form.username.errors }}</td></tr>
            <tr><th>Password:</th><td>{{ form.password }}</td><td>{{ form.password.errors }}</td></tr>
            <tr><th></th><td><button type="submit" class="submit-button">Login</button></td></tr>
        </table>
    </form>
</div>
{% endblock %}

{% block footer %}{% endblock %}

