{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/setting.css' %}">
{% endblock %}

{% block header-title %}Setting{% endblock %}

{% block content %}
<div class='setting-container'>
    <a href="{% url 'username_change' %}"><p>Change your username</p></a>
    <a href="{% url 'email_change' %}"><p>Change your email address</p></a>
    <a href="{% url 'image_change' %}"><p>Change your icon-image</p></a>
    <a href="{% url 'password_change' %}"><p>Change your password</p></a>
    <a href="{% url 'account_logout' %}"><p>Logout</p></a>
</div>
{% endblock %}