{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/username_change.css' %}">
{% endblock %}

{% block header-title %}Change your username{% endblock %}

{% block content %}
<div class="form-container">
    <form  method="post" action="{% url 'username_change' %}" class="username-change-form">
        <p>New username ：</p>{{ form.username }}{{form.errors}}
        <button type="submit" class="submit-button">Change</button>
    </form>
</div>
{% endblock %}